#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

header {
    background-color: #383636;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    text-align: center;
    width: 60vw;
}

.banner {
    width: 300px;
}

main {
    display: flex;
    width: 90vh;
}

aside {
    margin-left: 20px;
}

.model-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Creates 2 columns */
    grid-template-rows: repeat(2, 1fr); /* Creates 2 rows */
    gap: 10px; /* Adjusts the gap between grid items */
    width: 100%; /* Adjust width as needed */
    max-width: 400px; /* Adjust maximum width as needed */
}

.model-buttons button {
    display: flexbox;
    width: 100%;
}

.hotspot {
    opacity: 50%;
}

button {
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button img {
    width: 40px;
}

.model ModelViewerComponent {
    width: 100%;
    padding: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
